<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">

        <!-- Title Page-->
        <title>Login Admin</title>
	<link rel="icon" type="image/png" href="{{ assetsUrl('images/icon/bitmap.png') }}">

        <!-- Fontfaces CSS-->
        {{ style('/css/font-face.css') }}
        {{ style('/vendor/font-awesome-4.7/css/font-awesome.min.css') }}
        {{ style('/vendor/font-awesome-5/css/fontawesome-all.min.css') }}
        {{ style('/vendor/mdi-font/css/material-design-iconic-font.min.css') }}

        <!-- Bootstrap CSS-->
        {{ style('/vendor/bootstrap-4.1/bootstrap.min.css') }}

        <!-- Vendor CSS-->
        {{ style('/vendor/animsition/animsition.min.css') }}
        {{ style('/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}
        {{ style('/vendor/wow/animate.css') }}
        {{ style('/vendor/css-hamburgers/hamburgers.min.css') }}
        {{ style('/vendor/slick/slick.css') }}
        {{ style('/vendor/select2/select2.min.css') }}
        {{ style('/vendor/perfect-scrollbar/perfect-scrollbar.css') }}

        <!-- Main CSS-->
        {{ style('/css/theme.css') }}

        {{ script('https://unpkg.com/sweetalert/dist/sweetalert.min.js') }}
        @!section('style')
    </head>

    <body class="animsition">
        <div class="page-wrapper">
            @!section('content')
        </div>

        <!-- SCRIPT-->
        @include('modules.layout.partials.script')
        {{ script('js/actions.js') }}
    </body>
</html>
