<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aktivasi Akun dan Membership Kerja Team</title>
</head>
<body>
    <h1>Selamat!</h1>
    <p>Hallo {{ user.name }}!, anda berhasil melakukan registerasi akun dan mendaftarkan {{ company.name }} sebagai perusahaan anda</p>
    <p>Klik link berikut untuk melakukan aktivasi email anda : {{ link }}, link berikut berlaku 3 hari sejak email ini di kirimkan</p>
    <p>Jangan lupa untuk melakukan pembayaran pendaftaran perusahaan anda dengan mengirim bukti pembayaran ke alamat email : kerja.team.bukapeta@gmail.com</p>
    <hr/>
    <b>Terimakasih</b>
</body>
</html>