<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password User</h1>
    <p>We are sorry for can not login issues. Please go to https://middleware.bukapeta.id/resetpassword/email and reset your password then login to the Kerja.Team Application
    </p>
    <p>You can download Kerja Team Application in this link : https://play.google.com/store/apps/details?id=id.bukapeta.kerjateam</p>
</body>
</html>