<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Message</title>
</head>
<body>
    <h1>Welcome to Kerja Team</h1>
    <p>Congratulations {{ user.name }}!, you are successfully sign up in Kerja Team</p>
    <br>
    <p>You can download Kerja Team Apps in this link : https://play.google.com/store/apps/details?id=id.bukapeta.kerjateam</p>
</body>
</html>